{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="ligne1">
    <button class="button">Achats</button>
    <button class="button">Mes produits</button>
</div>

<div id="ligne2">
    <button class="button">Liste des produits manquants</button>
</div>
{% endblock %}
